* {
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(77, 73, 73);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1.5rem;
    background-color: black;
    color: white;
}

.project-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0.5rem;
    user-select: none;
    color: red;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    display: block;
    user-select: none;
}

/* .navbar-links li:hover {
    background-color: #555;
} */

.navbar-links li a:hover{
    color: aqua;
}  

.navbar-links li #uname:hover {
    color: white;
}

.toggle-button {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    border-radius: 8px;
    background-color: white;
}

@media (max-width: 480px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 1rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}