{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/login2.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <p>Login</p>
        </div>
        <div class="details">
            <form action="login" method="post" id="myForm">
                {% csrf_token %}

                <input type="text" name="username" class="input-field" placeholder="Username" required>
                <input type="password" name="password" class="input-field" placeholder="Password" required>
                <button type="submit" class="submit-btn">Login</button>
                <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
                <div id="message">
                    {% for message in messages %}
                    <h3> {{message}}  </h3>
                    {% endfor %}
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>