{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommender System</title>
    <link rel="stylesheet" href="{% static 'style/nav.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="project-title">CINEMATE</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="#" id="uname">{{ user.username }}</a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'watched' %}">Watched</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <script src="{% static 'nav.js' %}"></script>
</body>
</html>